<%= render 'shared/error_messages', obj: @post %>

<%= form_for @post do |f| %>

  <div class="control-group">
    <%= collection_check_boxes(:post, :category_ids, Category.all, :id, :name) %>
  </div>
  <div class='control-group'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class='control-group'>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5 %>
  </div>  
  <div class='control-group'>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

    <%= f.submit class: "btn btn-primary" %>
<% end %>